@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <p class="lead"> Thông tin được tìm kiếm chuẩn xác đảm bảo thông tin cho mọi người</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Đọc thêm &raquo;</a></p>
    </div>

    <div class="dt">

        @Html.Action("SanPhamPartialView", "Home")
    </div>

<br />
<div class="row">
<img src="~/Content/images/anh1.jpg" class="img-responsive"  width="100%"/>
</div>